<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Fragments: home</title>
    <!--/*/ <th:block th:include="fragmentExample/fragments/general.html :: headerfiles">
            </th:block> /*/-->
    <!-- The above comment (differentiated by the enclosing "slash star slash") is a thymeleaf prototype-only block
        making use of synthetic th:block tags. This code will import the header files then the block will disappear.
        We can see it working since it applies the style import from general.html.
        See: https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#comments-and-blocks -->
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div th:fragment="header"></div>

<div class="title" th:fragment="title">
    <h2>Gardeners' Grove</h2>
</div>

    <nav th:fragment="gardens">
        <a th:href="@{/gardenform}"><button>Add New Garden</button></a>
        <br/>
        <!-- To add a list of the gardens, tr seems to repeat through a java list
            <tr th:each = "garden : $(gardens)">
            Unsure if the div will work but worth a shot for later
            <div class = garden>
                <td th:utext="$(garden.name)"> Unsure what goes here but we shall find out</td>
            </div>
        -->
    </nav>

</body>
</html>