<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Thymeleaf Fragments: home</title>
    <!--/*/ <th:block th:include="fragmentExample/fragments/general.html :: headerfiles">
            </th:block> /*/-->
    <!-- The above comment (differentiated by the enclosing "slash star slash") is a thymeleaf prototype-only block
        making use of synthetic th:block tags. This code will import the header files then the block will disappear.
        We can see it working since it applies the style import from general.html.
        See: https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#comments-and-blocks -->
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>

<div th:fragment="header"></div>

<div class="title" th:fragment="title">
    <h2>Gardeners' Grove</h2>
</div>

<nav class="gardens-list" th:fragment="gardens">
    <a class="userProfile" th:href="@{/profile}">
        <img
                th:src="@{${user.getProfilePictureFilePath()}}"

                class="userProfileImage"
                alt="user profile image">
        <p class="userProfileName" th:text="'My Profile'"></p>
    </a>
    <a th:href="@{${newGardenUri}}">
        <button>Add New Garden</button>
    </a>
    <br/>
    <a th:href="@{${viewFriendsUri}}">
        <button>My Friends</button>
    </a>
    <br/>
    <table>
        <thead>
        <h2><a class="viewGardensLink" th:href="@{${viewAllGardensUri}}">My Gardens</a></h2>
        </thead>
        <tbody>
        <tr th:each="garden : ${gardens}">
            <td><a th:href="@{${viewGardenUriString}(gardenId=${garden.getId()})}"><span th:text="${garden.getName()}"> Name </span></a>
            </td>
        </tr>
        </tbody>
    </table>

    <form th:action="@{/logout}"
          method="post"
          name="registerForm">
        <input class="inputStyle" id="signOutButton" type="submit" value="Logout">
    </form>
</nav>


<nav th:fragment="navbar" style="margin-bottom: 10vh">
    <h1 th:text="${viewAllGardensUri}"></h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle">
        <div class="container-fluid" style="padding-left: 20px">
            <div>

                <img th:src="@{/images/logo-gardenersgrove.png}" width="50" height="50" />
            </div>
            <a
                    class="navbar-brand"
                    th:href="@{/profile}"
                    style="margin-left: 20px; margin-right: 40px"
            >Gardeners Grove</a
            >
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <div class="dropdown">
                        <button
                                class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                                type="button"
                                id="dropdownMenuButton1"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="color: black"
                        >
                            Profile
                        </button>
                        <ul
                                class="dropdown-menu bg-dark-subtle"
                                aria-labelledby="dropdownMenuButton1"
                                style="background-color: #344e41"
                        >
                            <li>
                                <a class="dropdown-item" th:href="@{/profile}">My Profile</a>
                            </li>
                            <li><a class="dropdown-item" href="#">Friends</a></li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button
                                class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                                type="button"
                                id="dropdownMenuButton2"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="color: black"
                        >
                            My Gardens
                        </button>
                        <ul
                                class="dropdown-menu bg-dark-subtle"
                                aria-labelledby="dropdownMenuButton1"
                                style="background-color: #344e41"
                        >
                            <li>
                                <a class="dropdown-item" th:href="@{${viewAllGardensUri}}">My Gardens</a>
                            </li>
                            <li th:each="garden: ${gardens}">
                                <a class="dropdown-item" th:href="@{${viewGardenUriString}(gardenId=${garden.getId()})}">
                                    <span th:text="${garden.getName()}"></span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="dropdown">
                        <button
                                class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                                type="button"
                                id="dropdownMenuButton3"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="color: black"
                        >
                            Create
                        </button>
                    </div>

                    <div class="dropdown">
                        <button
                                class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                                type="button"
                                id="dropdownMenuButton4"
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                style="color: black"
                        >
                            Explore
                        </button>
                    </div>
                </ul>
                <a
                        class="nav-link active"
                        aria-current="page"
                        href="#"
                        style="margin-right: 20px"
                >Log Out</a
                >
            </div>
        </div>
    </nav>
</nav>
</body>
</html>