<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:insert="~{fragments/importFragment :: headerfiles}">
  </head>
  <body>
    <div th:fragment="weatherCard" >
      <div class="container-sm shadow rounded-4 text-center p-5">
        <h2 class="display-5" th:text="${dayOfWeek}"></h2>
        <p th:text="${date}"></p>
        <i th:class="${image}"></i>
        <p th:text="${description}"></p>
        <p th:text="${temperature}"></p>
      </div>
    </div>
  </body>
</html>
