<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:insert="~{fragments/importFragment :: headerfiles}">
  </head>
  <body>
    <div th:fragment="weatherCard" >
      <div class="container-sm shadow rounded-4 text-center p-5">
        <h2 class="display-5">Monday</h2>
        <p th:text="${#dates.format(date, 'EEEE, MMMM d, yyyy')}"></p>
        <i class="bi bi-cloud-drizzle"></i>
        <p th:text="${description}"></p>
        <p th:text="${temperature}"></p>
      </div>
    </div>
  </body>
</html>
