<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:insert="~{fragments/importFragment :: headerfiles}"></head>
  <title>Navbar</title>
  <body>
  <nav th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle pt-2 pb-2">
      <div class="container-fluid" style="padding-left: 20px">
        <div>

          <img th:src="@{/images/logo-gardenersgrove.png}" width="50" height="50" />
        </div>
        <a
          class="navbar-brand"
          th:href="@{/profile}"
          style="margin-left: 20px; margin-right: 40px"
          >Gardeners Grove</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: black"
              >
                Profile
              </button>
              <ul
                class="dropdown-menu bg-dark-subtle"
                aria-labelledby="dropdownMenuButton1"
                style="background-color: #344e41"
              >
                <li>
                  <a class="dropdown-item" th:href="@{/profile}">My Profile</a>
                </li>
                <li><a class="dropdown-item" href="#">Friends</a></li>
              </ul>
            </div>

            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                type="button"
                id="dropdownMenuButton2"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="color: black"
              >
                My Gardens
              </button>
              <ul
                      class="dropdown-menu bg-dark-subtle"
                      aria-labelledby="dropdownMenuButton1"
                      style="background-color: #344e41"
              >
                <li th:each="garden: ${gardens}">
                  <a class="dropdown-item" th:href="@{${viewGardenUriString}(gardenId=${garden.getId()})}">
                    <span th:text="${garden.getName()}"></span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" style="font-weight: bold" th:href="@{${viewAllGardensUri}}">View All</a>
                </li>
              </ul>
            </div>

            <div class="dropdown">
              <button
                      class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                      type="button"
                      id="dropdownMenuButton3"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      style="color: black"
              >
                Create
              </button>
            </div>

            <div class="dropdown">
              <button
                      class="btn btn-secondary dropdown-toggle bg-transparent border-0"
                      type="button"
                      id="dropdownMenuButton4"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                      style="color: black"
              >
                Explore
              </button>
            </div>
          </ul>
          <a
            class="nav-link active"
            aria-current="page"
            href="#"
            style="margin-right: 20px"
            >Log Out</a
          >
        </div>
      </div>
    </nav>
  </nav>
  </body>
</html>
