:root {
  --eerie-black: #141811;
  --dark-green: #142915;
  --fern-green: #477641;
  --khaki: #ceb992;
  --eggshell: #faf3dd;
}

.login-bg {
  background-image: linear-gradient(
    to bottom right,
    var(--dark-green),
    var(--fern-green)
  );
}

.bg {
  background-color: #efefec;
  color: var(--dark-green);
  font-family: "Gill Sans MT", sans-serif;
}

.message {
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0;
}

.error {
  color: #6F0C0C
}

.landing-bg {
  background-image: url("../images/landing_plant.jpeg");
  background-size: cover;
  background-position: center;
  height: 40em;
}
