:root,
    :root.light {
    --dark-color: #344E41;
    --dark-neutral: #3A5A40;
    --neutral: #588157;
    --light-neutral: #A3B18A;
    --light-color: #DAD7CD;
    }

body {
    background-color: var(--light-color);
    color: var(--dark-neutral);
}

/* Title at top of page */
.title {
    background-color: var(--light-color);
    color: var(--dark-neutral);
    text-align: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
}

.title h2 {
    margin: auto;
}

/* navigation side bar */
nav {
    width: 190px;
    height: 100vh;
    padding: 1px 5px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--dark-neutral);
    color: white;
}

nav button {
    background-color: rgba(0, 255, 0, 25%);
    margin: 0 auto;
    width: 90%;
}

.content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 10px;
    color: var(--dark-neutral);
}

.form-input {
    margin-left: 50px;
    line-height: 50px;
}

.form-button {
    margin-left: 50px;
    line-height: 20px;
    margin-top: 20px;
}

.gardens-list a {
    text-decoration: none;
    color: var(--light-color);
}

.gardens-list a:hover{
    text-decoration: none;
    color: var(--neutral);
}

.in-line p {
    display: inline;
    line-height: 30px;
    margin-top: 20px;
}

.content a {
    text-decoration: none;
    color: var(--dark-neutral);
}

.content a:hover{
    text-decoration: underline;
    color: var(--dark-color);
}

.list-container {
}

.garden-item {
    display: flex;
    background-color: var(--light-color);
    border: 3px solid #000000;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: var(--dark-color);
    margin-bottom: 5px;
    font-weight: bold;
}
.garden-item:hover {
    background-color: var(--light-neutral);
}
