<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/importFragment :: headerfiles}"></head>
<title>Gardeners' Grove</title>
<body>
<nav th:insert="~{fragments/navbar :: navbar}"></nav>

<div class="content">
    <h2>My Gardens</h2>
    <div class="list-container">
        <a th:each="garden: ${gardens}" th:href="@{${viewGardenUriString}(gardenId=${garden.id})}">
            <div class="garden-item"><span th:text="${garden.name}">Name</span></div>
        </a>
    </div>
</div>
</body>
</html>