<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Gardeners' Grove</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{fragments/fragments :: title}">Header</div>
<nav th:insert="~{fragments/fragments :: gardens}">Gardens</nav>
<div class="content">
    <h2>My Gardens</h2>
    <div class="list-container">
        <a th:each="garden: ${gardens}" th:href="@{${viewGardenUriString}(gardenId=${garden.id})}">
            <div class="garden-item"><span th:text="${garden.name}">Name</span></div>
        </a>
    </div>
</div>
</body>
</html>