<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:insert="~{fragments/importFragment :: headerfiles}"></head>
<body class="bg">
    <div class="container-fluid p-0 m-0">
        <nav th:insert="~{fragments/navbar :: navbar}" style=""></nav>
        <h1 class="mt-3" style="text-align: center">Compare Gardens</h1>
    </div>

    <div id="display-graphs" th:attr="data-day-labels=${graphDay.getLabels()},
                                            data-month-labels=${graphMonth.getLabels()},
                                            data-week-labels=${graphWeek.getLabels()},
                                            data-week-temp=${graphWeek.getTemperature()},
                                            data-day-temp=${graphDay.getTemperature()},
                                            data-month-temp=${graphMonth.getTemperature()},
                                            data-week-moisture=${graphWeek.getMoisture()},
                                            data-day-moisture=${graphDay.getMoisture()},
                                            data-month-moisture=${graphMonth.getMoisture()},
                                            data-week-light=${graphWeek.getLight()},
                                            data-day-light=${graphDay.getLight()},
                                            data-month-light=${graphMonth.getLight()},
                                            data-week-pressure=${graphWeek.getAtmosphere()},
                                            data-day-pressure=${graphDay.getAtmosphere()},
                                            data-month-pressure=${graphMonth.getAtmosphere()},
                                            data-week-humidity=${graphWeek.getHumidity()},
                                            data-day-humidity=${graphDay.getHumidity()},
                                            data-month-humidity=${graphMonth.getHumidity()}">

    <div class="row" id="temp-units">
        <div class="input-group mb-3">
            <button class="btn btn-toggle-selected" id="celsius-btn"
                    style="
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                  " onclick="changeTemperatureUnit('c')">
                Celsius
            </button>
            <button class="btn btn-toggle-unselected" id="fahrenheit-btn" style="
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                  " onclick="changeTemperatureUnit('f')">
                Fahrenheit
            </button>
        </div>
    </div>

    <!--  Graphs  -->
    <div class="row" id="graphs" data-units="c">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-12 mt-3" id="day-graph-container">
                    <h5 class="text-break text-center" id="day-title"></h5>
                    <canvas id="graph-day"></canvas>
                </div>
                <div class="col-xl-6 col-md-12 mt-3" id="month-graph-container">
                    <h5 class="text-break text-center" id="month-title"></h5>
                    <canvas id="graph-month"></canvas>
                </div>
                <div class="col-xl-6 col-md-12 mt-3" id="week-graph-container">
                    <h5 class="text-break text-center" id="week-title"></h5>
                    <canvas id="graph-week"></canvas>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:src="@{/javascript/graphGenerator.js}"></script>
</body>