<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Gardens' Grove</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!--<div th:insert="fragmentExample/fragments :: title">Header</div>
        <nav th:insert="fragmentExample/fragments :: gardens">Gardens</nav>-->
        <div class="content">
        </div>
        <h1> PLANT </h1>
        <div th:each="plant : ${plants}">
            <!-- Displaying image -->
            <p th:text="${plant.name}"></p>
            <img th:src="@{'/images/' + ${plant.image}}" alt="Plant Image" width="200"/>
        </div>
    </body>
</html>