<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <title>Edit Garden Form</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="fragmentExample/fragments :: title">Header</div>
<nav th:insert="fragmentExample/fragments :: gardens">Gardens</nav>
<div class="content">
  <div>
    <div>
      <form th:action="@{edit-garden(gardenId=${gardenId})}" method="post">
        <div class="form-field">
          <label class="form-input" for="gardenName"> Garden Name: </label>
          <input type="text" class="form-control" id="gardenName" th:name="gardenName"
                 th:value="${displayGardenName}" data-cy="gardenName" autofocus>
          <h5 th:text=${gardenNameError}></h5>
        </div>
        <br/>
        <div class="form-field">
          <label class="form-input" for="gardenLocation"> Location of your garden: </label>
          <input type="text" class="form-control" id="gardenLocation" th:name="gardenLocation"
                 th:value="${displayGardenLocation}" data-cy="gardenLocation" autofocus>
          <h5 th:text=${gardenLocationError}></h5>
        </div>
        <br/>
        <div class="form-field">
          <label class="form-input" for="gardenSize"> Size of your garden in square metres: </label>
          <input type="number" step="0.01" class="form-control" id="gardenSize" th:name="gardenSize"
                 th:value="${displayGardenSize}" data-cy="gardenSize" autofocus>
          <h5 th:text=${gardenSizeError}></h5>
        </div>
    <br/>
        <button class="form-button" type="submit">Submit!</button>
        <a th:href="@{/view-garden(gardenId=${gardenId})}"><button class="form-button" type="button">Cancel</button></a>
      </form>
    </div>
  </div>
</div>
</body>
</html>