<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="us">
<head th:insert="~{fragments/importFragment :: headerfiles}">
    <title>Edit Password</title>
</head>

<body>
<div class="container-fluid d-flex flex-column p-0 m-0 align-items-center">
    <nav th:insert="~{fragments/navbar :: navbar}" class="w-100"></nav>

    <div
            class="container-flex d-flex justify-content-center mt-5 w-100 align-items-center"
    >
        <div class="content">
            <div>
                <div class="forumContentsDiv">
                    <form th:action="@{${editPasswordUri}}" method="post" id="editPassword" name="editPassword" class="">
                        <h4>Edit Password</h4>
                        <div class="form-floating mb-3">
                            <input
                                    class="form-control"
                                    type="text"
                                    id="oldPassword"
                                    name="oldPassword"
                                    th:name="oldPassword"
                                    placeholder="oldPassword"
                                    data-cy="oldPassword"
                                    autofocus
                            />
                            <label for="oldPassword">
                                Enter old password:
                            </label>
                            <p class="errorMessage" id="oldPasswordError" th:text="${oldPasswordError}"></p>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   type="password"
                                   id="newPassword"
                                   name="newPassword"
                                   placeholder="newPassword"
                                   th:name="newPassword"
                                   data-cy="oldPassword"
                                   autofocus
                            >
                            <label for="newPassword" class="form-label">Enter new password</label>
                            <p class="errorMessage" id="invalidError" th:text="${invalidError}"></p>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   type="password"
                                   id="retypeNewPassword"
                                   name="retypeNewPassword"
                                   placeholder="retypeNewPassword"
                                   th:name="retypeNewPassword"
                                   data-cy="retypeNewPassword"
                                   autofocus
                            >
                            <label for="retypeNewPassword" class="form-label">Retype password:</label>
                            <p class="errorMessage" id="retypeNewPasswordError" th:text="${retypeNewPasswordError}"></p>
                        </div>

                        <button class="btn btn-outline-primary"
                                type="submit"
                                style="
                                 border-color: #477641;
                                 --bs-btn-color: #477641;
                                 --bs-btn-hover-bg: #477641;
                                 --bs-btn-hover-color: #fff;
                                 --bs-btn-active-bg: #477641;
                                 "
                        >Submit <i class="bi bi-check"></i>
                        </button>

                        <a th:href="@{${editProfileUri}}">
                            <button class="btn btn-outline-primary"
                                    type="button"
                                    style="
                                     border-color: #141811;
                                     --bs-btn-color: #141811;
                                     --bs-btn-hover-bg: #141811;
                                     --bs-btn-hover-color: #fff;
                                     --bs-btn-active-bg: #141811;
                                     "
                            >Back <i class="bi bi-arrow-90deg-left"></i>
                            </button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>