<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Edit Password</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <script type="text/javascript" src="/javascript/profilePictureUpload.js"></script>
</head>
<body>
    <nav th:insert="~{fragments/fragments :: gardens}">Gardens</nav>
    <div>
        <form th:action="@{editPassword}"
              method="post"
              id="editPassword"
              name="editPassword">

            <label for="oldPassword">Enter old password:</label>
            <input class="inputStyle"
                   type="text"
                   id="oldPassword"
                   name="oldPassword"
                   th:name="oldPassword"
            >

            <label for="newPassword">Enter new password:</label>
            <input class="inputStyle"
                   type="text"
                   id="newPassword"
                   name="newPassword"
                   th:name="newPassword"
            >

            <label for="retypePassword">Retype new password:</label>
            <input class="inputStyle"
                   type="text"
                   id="retypePassword"
                   name="retypePassword"
                   th:name="retypePassword"
            >

            <input class="inputStyle" id="submit" type="submit" value="Submit"/>
        </form>
        <div class="hrefDiv">
            <a th:href="@{editProfile}" class="hrefButtons" type="button">Back</a>
        </div>
    </div>
</body>
</html>