<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="us">
<title>Edit Password - Garden Pulse</title>
<head th:insert="~{fragments/importFragment :: headerfiles}">
    <title>Edit Password</title>
</head>

<body class="bg">
<div class="container-fluid d-flex flex-column p-0 m-0 align-items-center">
    <nav th:insert="~{fragments/navbar :: navbar}" class="w-100"></nav>

    <div
            class="container-flex d-flex justify-content-center mt-5 align-items-center"
    >
        <form th:action="@{${editPasswordUri}}" method="post" id="editPassword" name="editPassword" class="">
            <p class="display-5 mb-2 text-break">Edit Password</p>
            <div class="form-floating mb-3">
                <input
                        class="form-control"
                        type="password"
                        id="oldPassword"
                        name="oldPassword"
                        th:name="oldPassword"
                        placeholder="oldPassword"
                        data-cy="oldPassword"
                        autofocus
                        th:classappend="${oldPasswordError} ? 'border-danger'"
                />
                <label for="oldPassword">
                    Enter old password
                </label>
                <p class="error message" id="oldPasswordError" th:text="${oldPasswordError}"></p>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control"
                       type="password"
                       id="newPassword"
                       name="newPassword"
                       placeholder="newPassword"
                       th:name="newPassword"
                       data-cy="newPassword"
                       autofocus
                       th:classappend="${invalidError} ? 'border-danger'"
                >
                <label for="newPassword" class="form-label">Enter new password</label>
                <p class="error message" id="invalidError" th:text="${invalidError}"></p>
            </div>

            <div class="form-floating mb-3">
                <input class="form-control"
                       type="password"
                       id="retypeNewPassword"
                       name="retypeNewPassword"
                       placeholder="retypeNewPassword"
                       th:name="retypeNewPassword"
                       data-cy="retypeNewPassword"
                       autofocus
                       th:classappend="${passwordConfirmError} ? 'border-danger'"
                >
                <label for="retypeNewPassword" class="form-label">Retype password</label>
                <p class="error message" id="retypeNewPasswordError" th:text="${retypeNewPasswordError}"></p>
                <p class="error message" id="passwordConfirmError" th:text="${passwordConfirmError}"></p>
            </div>

            <button class="btn btn-confirm"
                    type="submit"
            >Submit <i class="bi bi-check"></i>
            </button>

            <a th:href="@{${editProfileUri}}">
                <button
                        class="btn btn-cancel"
                        type="button"
                >
                    Cancel <i class="bi bi-x"></i>
                </button>
            </a>
        </form>
    </div>
</div>
</body>
</html>