<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<title>Error - Garden Pulse</title>
<head th:insert="~{fragments/importFragment :: headerfiles}"> </head>
<style>
  body {
    background: #efefec;
    font-family:
      gill sans,
      sans-serif;
  }

  a {
    color: #477641;
    text-decoration: none;
  }

  p {
    margin: 0.5rem;
  }
</style>

<body class="page">
  <div class="container-fluid d-flex flex-column p-0 m-0">
    <nav th:insert="~{fragments/navbar :: navbar}" class="w-100"></nav>
    <div class="row justify-content-center vh-100">
      <div class="col-lg-4 col-sm-6 col-10">
        <br>
        <p class="display-1 pt-sm-5">Oops!</p>
        <p class="display-4">It looks like we've encountered an error.</p>
        <p>Error code: [[${status}]]</p>
        <p>Message: [[${message}]]</p>
        <p>Here are some helpful links instead:</p>
        <p>
          <a th:href="@{/}"><i class="bi bi-house-fill"></i> Home</a>
        </p>
        <p>
          <a th:href="@{/gardens}"><i class="bi bi-tree-fill"></i> My Gardens</a>
        </p>
      </div>
    </div>
  </div>
</body>

</html>
