<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/importFragment :: headerfiles}">
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/newstyle.css}">
</head>
<body>
    <div class="container-flex d-flex justify-content-center align-items-center vh-100 login-bg p-3">
        <div>
            <div class="g-col-md-4">
                <div class="bg-white p-5 rounded shadow ">
                    <form th:action="@{${resetPasswordEmailUri}}" th:method="post" class="">
                        <h2 class="text-center display-3 title-heading mb-4">Forgot Password</h2>
                        <p>Please provide your email to reset your password</p>
                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   type="text"
                                   id="userEmail"
                                   name="userEmail"
                                   placeholder="Email"
                                   th:name="userEmail"
                                   data-cy="userEmail"
                                   autofocus
                                   th:classappend="${emailError} ? 'is-invalid'"
                            >
                            <label for="userEmail">Email</label>
                        </div>
                        <p class="error message" th:text="${emailError}"></p>

                        <button class="btn btn-outline-primary"
                                type="submit"
                                style="
                                         border-color: #477641;
                                         --bs-btn-color: #477641;
                                         --bs-btn-hover-bg: #477641;
                                         --bs-btn-hover-color: #fff;
                                         --bs-btn-active-bg: #477641;
                                         "
                        >Submit <i class="bi bi-check"></i>
                        </button>

                        <a th:href="@{${loginUri}}">
                            <button
                                    class="btn btn-outline-primary"
                                    type="button"
                                    style="
                          border-color: #6f0c0c;
                          --bs-btn-color: #6f0c0c;
                          --bs-btn-hover-bg: #6f0c0c;
                          --bs-btn-hover-color: #fff;
                          --bs-btn-active-bg: #6f0c0c;
                        "
                            >
                                Cancel <i class="bi bi-x"></i>
                            </button>
                        </a>

                        <div th:if="${confirmationMessage}" class="mt-2">
                            <p>An email was sent to the address if it was recognised</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>