<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/importFragment :: headerfiles}"><title>Gardeners' Grove</title></head>

<body class="bg">
<div class="container-fluid d-flex flex-column p-0 m-0 align-items-center">
    <nav th:insert="~{fragments/navbar :: navbar}" class="w-100"></nav>

    <div class="d-flex justify-content-center mt-5 w-100 mb-5">
        <div class="content">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h2 class="text-break" th:text="${garden.getName()}"></h2>
                    </div>
                    <div class="col-auto">
                        <div th:if="${connected}" class="alert alert-success">
                            <i class="bi bi-link"></i> Garden Connected
                        </div>
                        <div th:unless="${connected}" class="alert alert-warning">
                            No Device Found
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div id="currentStats">

                        </div>
                    </div>
                </div>

                <!-- Temperature -->
                <div class="sensor-data" id="temperature-data">
                    <div class="row">
                        <div class="input-group mb-3">
                            <button class="btn btn-toggle-selected" id="celsius-btn"
                                    style="
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        "
                                    onclick="changeTemperatureUnit('c')">
                                Celsius
                            </button>
                            <button class="btn btn-toggle-unselected" id="fahrenheit-btn"
                                    style="
                                border-top-left-radius: 0;
                                border-bottom-left-radius: 0;
                            "
                                    onclick="changeTemperatureUnit('f')">
                                Fahrenheit
                            </button>
                        </div>
                    </div>

                    <div class="row" id="temperature-graphs" data-units="c">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 mt-3 col-sx-8">
                                    <h5 class="text-break text-center">Temperature Today</h5>
                                    <canvas id="temp-graph-day" th:attr="data-results=${averageDayTemp}"></canvas>
                                </div>
                                <div class="col-lg-6 mt-3 col-sx-8">
                                    <h5 class="text-break text-center">Temperature Last 30 Days</h5>
                                    <canvas id="temp-graph-month" th:attr="data-results=${averageMonthTemp}"></canvas>
                                </div>
                                <div class="col-lg-6 mt-3 col-sx-8">
                                    <h5 class="text-break text-center">Temperature Last 7 Days</h5>
                                    <canvas id="temp-graph-week" th:attr="data-results=${averageWeekTemp}"></canvas>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:src="@{/javascript/graphGenerator.js}"></script>
</body>
</html>