<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
  <head th:insert="~{fragments/importFragment :: headerfiles}">
    <title>Create Garden</title>
  </head>

  <body class="bg">
    <div class="container-fluid d-flex flex-column p-0 m-0 align-items-center">
      <nav th:insert="~{fragments/navbar :: navbar}" class="w-100"></nav>
      <div
        class="container-flex d-flex justify-content-center mt-5 w-100 align-items-center">
        <div class="content">
          <div>
            <div class="forumContentsDiv">
              <form
                th:action="@{${formSubmissionUri}}"
                method="post"
                id="garden-form"
                style="max-width: 750px"
              >
                <h4>Garden Details</h4>
                <div class="row" style="margin-left: 3px">
                  <div class="col-md-6">
                    <div class="row form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="gardenName"
                        th:name="gardenName"
                        placeholder="e.g. John's Garden"
                        th:value="*{gardenName}"
                        data-cy="gardenName"
                        autofocus
                        th:classappend="${gardenNameError} ? 'is-invalid'"
                      />
                      <label class="form-input" for="gardenName">
                        Garden Name *
                      </label>
                      <p class="error message" th:text="${gardenNameError}"></p>
                    </div>
                    <div class="row form-floating">
                      <input
                        type="number"
                        step="0.0001"
                        min="0.0001"
                        max="80000000"
                        class="form-control"
                        placeholder="e.g. 120"
                        id="gardenSize"
                        th:name="gardenSize"
                        th:value="*{gardenSize}"
                        data-cy="gardenSize"
                        autofocus
                        th:classappend="${gardenSizeError} ? 'is-invalid'"
                      />
                      <label class="form-input" for="gardenSize">
                        Garden size (m<sup>2</sup>)
                      </label>
                      <p class="error message" th:text="${gardenSizeError}"></p>
                    </div>
                  </div>
                  <div class="col-md-6 form-floating">
                    <textarea
                      type="text"
                      class="form-control"
                      id="gardenDescription"
                      th:name="gardenDescription"
                      placeholder="e.g. My rose garden"
                      th:text="*{gardenDescription}"
                      data-cy="gardenDescription"
                      autofocus
                      th:classappend="${gardenDescriptionError} ? 'is-invalid'"
                      style="min-height: 132px"
                    ></textarea>
                    <label
                      class="form-input"
                      for="gardenDescription"
                      style="margin-left: 10px"
                    >
                      Garden Description
                    </label>
                    <!--The ternary below will need to be properly fixed-->
                    <p>
                      Description Length
                      <span
                        id="counter-display"
                        class="tag is-success"
                        th:text="${gardenDescription == null || gardenDescription == ''? 0 : gardenDescription.length()}"
                      ></span
                      >/512
                    </p>
                    <p
                      class="error message"
                      th:text="${gardenDescriptionError}"
                    ></p>
                  </div>
                </div>
                <h4>Location</h4>
                <div class="form-field form-floating">
                  <input
                    type="text"
                    class="form-control"
                    id="streetAddress"
                    th:name="streetAddress"
                    th:value="*{streetAddress}"
                    data-cy="streetAddress"
                    autocomplete="off"
                    placeholder=">Start typing location to see suggestions."
                    th:classappend="${streetAddressError} ? 'is-invalid'"
                  />
                  <label class="form-input" for="streetAddress">
                    Street Address
                  </label>
                  <div id="autocomplete-list" class="dropdown-menu w-100 shadow"></div>
                  <p class="error message" th:text="${streetAddressError}"></p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-field form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="country"
                        placeholder="e.g. New Zealand"
                        th:name="country"
                        th:value="*{country}"
                        data-cy="country"
                        th:classappend="${countryError} ? 'is-invalid'"
                        autofocus
                      />
                      <label class="form-input" for="country"> Country * </label>
                      <p class="error message" th:text="${countryError}"></p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-field form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="city"
                        placeholder="e.g. Christchurch"
                        th:name="city"
                        th:value="*{city}"
                        data-cy="city"
                        th:classappend="${cityError} ? 'is-invalid'"
                        autofocus
                      />
                      <label class="form-input" for="city"> City * </label>
                      <p class="error message" th:text="${cityError}"></p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-field form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="suburb"
                        th:name="suburb"
                        placeholder="e.g. Northland"
                        th:value="*{suburb}"
                        data-cy="suburb"
                        th:classappend="${suburbError} ? 'is-invalid'"
                        autofocus
                      />
                      <label class="form-input" for="suburb"> Suburb </label>
                      <p class="error message" th:text="${suburbError}"></p>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-field form-floating">
                      <input
                        type="text"
                        class="form-control"
                        id="postcode"
                        placeholder="e.g 8041"
                        th:name="postcode"
                        th:value="*{postcode}"
                        data-cy="postcode"
                        th:classappend="${postcodeError} ? 'is-invalid'"
                        autofocus
                      />
                      <label class="form-input" for="postcode">
                        Postcode
                      </label>
                      <p class="error message" th:text="${postcodeError}"></p>
                    </div>
                  </div>
                </div>
                <div class="message">
                  <p>Required fields are marked by a *</p>
                </div>
                <button
                        class="btn btn-outline-primary"
                        type="submit"
                        style="
                border-color: #477641;
                --bs-btn-color: #477641;
                --bs-btn-hover-bg: #477641;
                --bs-btn-hover-color: #fff;
                --bs-btn-active-bg: #477641;
              "
                >
                  Confirm <i class="bi bi-check"></i>
                </button>
                <a th:href="@{${previousPage}}">
                  <button
                          class="btn btn-outline-primary"
                          type="button"
                          style="
                          border-color: #6f0c0c;
                          --bs-btn-color: #6f0c0c;
                          --bs-btn-hover-bg: #6f0c0c;
                          --bs-btn-hover-color: #fff;
                          --bs-btn-active-bg: #6f0c0c;
                        "
                  >
                    Cancel <i class="bi bi-x"></i>
                  </button>
                </a>
              </form>
            </div>
          </div>
        </div>

        <!-- No location message modal -->
        <div th:if="${editGardenUri != null}">
        <div id="noLocationFoundModal" class="modal" style="display: block; background-color: rgba(0,0,0,0.4);">
            <div class="modal-dialog">
              <div class="modal-content shadow">
                <div class="modal-body">
                  <p th:if="!${locationFound}">
                    Your garden has been saved. However, no matching location was
                    found. Location-based services will not work for this garden.
                  </p>
                  <p th:if="!${profanityCheckWorked}">
                    There was an issue checking the description for inappropriate
                    language. This garden cannot be made public until the
                    description is edited and language checks are completed.
                  </p>
                </div>
                <div class="modal-footer">
                  <a th:href="@{${editGardenUri}}" id="backToFormBtn">
                    <button class="btn btn-outline-primary"
                            type="button"
                            style="
                            border-color: #000;
                            --bs-btn-color: #000;
                            --bs-btn-hover-bg: #000;
                            --bs-btn-hover-color: #fff;
                            --bs-btn-active-bg: #000;
                          "
                      >Edit Garden<i class="bi bi-pencil"></i>
                    </button></a>

                  <a th:href="@{${viewGardenUri}}" id="useLocationBtn">
                    <button class="btn btn-outline-primary"
                              type="button"
                              style="
                               border-color: #477641;
                               --bs-btn-color: #477641;
                               --bs-btn-hover-bg: #477641;
                               --bs-btn-hover-color: #fff;
                               --bs-btn-active-bg: #477641;
                               "
                      >Continue <i class="bi bi-check"></i>
                    </button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script
    type="text/javascript"
    th:src="@{/javascript/characterCount.js}"
  ></script>
  <script
    type="text/javascript"
    th:src="@{/javascript/locationAutocomplete.js}"
  ></script>
  <script type="text/javascript">
    document
      .getElementById("gardenDescription")
      .addEventListener("input", updateCharCount);
  </script>
</html>
