<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
  <title>Thymeleaf Spring Boot Demo</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="fragmentExample/fragments :: title">Header</div>
<nav th:insert="fragmentExample/fragments :: gardens">Gardens</nav>
<div class="content">
<div>
  <div>
    <form th:action="@{form}" method="post">
      <label for="gardenName"> Garden Name: </label>
      <input type="text" class="form-control" id="gardenName" placeholder="Garden 1"
             th:name="gardenName" th:value="*{gardenName}" data-cy="gardenName" required autofocus>
      <br/>
      <label for="gardenLocation"> Location of your garden: </label>
      <input type="text" class="form-control" id="gardenLocation" placeholder="Riccarton"
             th:name="gardenLocation" th:value="*{gardenLocation}" data-cy="gardenLocation" required
             autofocus>
      <br/>
      <label for="gardenSize"> Size of your garden in square metres: </label>
      <input type="number" step="0.01" class="form-control" id="gardenSize" placeholder="3"
             th:name="gardenSize" th:value="*{gardenSize}" data-cy="gardenSize"
             autofocus>
      <br/>
      <button type="submit">Submit!</button>
    </form>
  </div>
  <div th:if="${displayGardenName!=''}">
    <h4 th:text="'Welcome ' + ${displayGardenName} +', ' + ${displayFavouriteLanguage} + ' is a pretty good language.'"></h4>
    <h4 th:if="${isJava}"> Looks like Java is both our favourite language!</h4>
  </div>
  <div>
    <a th:href="@{demo}">Back to home</a>
  </div>
  </div>
</div>
</body>
</html>