<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/importFragment :: headerfiles}"><title>Gardeners' Grove</title></head>

<body class="bg">
<div class="container-fluid d-flex flex-column p-0 m-0 align-items-center">
    <nav th:insert="~{fragments/navbar :: navbar}" class="w-100"></nav>

    <div class="d-flex justify-content-center mt-5 w-100 mb-5">
        <div class="content">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h2 class="text-break" th:text="${garden.getName()}"></h2>
                    </div>
                    <div class="col-auto">
                        <th:block th:switch="${deviceStatus}">
                            <div th:case="'UP_TO_DATE'" class="alert alert-success">
                                <i class="bi bi-link"></i> Device linked to garden! The last update was received
                                <span th:text="${timeSinceLastReading}"></span>
                                minutes ago.
                            </div>
                            <div th:case="'OUT_OF_DATE'" class="alert alert-warning">
                                <i class="bi bi-cloud-slash"></i> Device linked to garden!
                                The last update was received
                                <span th:text="${timeSinceLastReading}"></span>
                                minutes ago, you may want to check the device is connected to the internet!
                            </div>
                            <div th:case="'NO_DATA'" class="alert alert-warning">
                                <i class="bi bi-cloud-slash"></i> Device linked to garden! No data available
                            </div>
                            <div th:case="'NOT_LINKED'" class="alert alert-danger">
                                <i class="bi bi-cloud-slash"></i>
                                There is no device linked to this garden
                            </div>
                        </th:block>
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <div id="currentStats">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>