<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
        <title>Gardens' Grove</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    </head>
    <body>
    <div th:insert="~{fragmentExample/fragments :: title}">Header</div>
    <nav th:insert="~{fragmentExample/fragments :: gardens}">Gardens</nav>
        <div class="content">
        </div>
    </body>
</html>