<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div>
        <h1>Gardener Grove</h1>
        <div th:switch="${loggedInStatus}">
            <div th:case="true">
                <a th:href="@{profile.html}">Profile</a> <br>
                <p>*this profile button will be broken until persistent database is implemented*</p>
            </div>

            <div th:case="false">
                <a th:href="@{login}">Sign In</a> <br>
                <a th:href="@{register}">Register</a>
            </div>
        </div>
    </div>
</body>
</html>