<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/importFragment :: headerfiles}">
    <title>Manage Friends</title>
</head>
<body style="">
<nav th:insert="~{fragments/navbar :: navbar}"></nav>
<div class="container-fluid p-5 text-white text-center" style="background-color: #477641">
    <h1>Manage my friends</h1>
    <form th:action="@{${searchResultsUri}}" method="post">
        <div class="input-group rounded mx-auto" style="width: 20vw;">
            <input type="text" id="searchUsers"
                   th:name="searchUser"
                   th:value="*{search}"
                   class="form-control rounded"
                   placeholder="Search for new friends"
                   aria-label="Search"
                   aria-describedby="search-addon"
                   autocomplete="off"/>
            <button class="input-group-text border-0" id="search-addon" type="submit" th:for="searchForm">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
</div>

<div class="modal" tabindex="-1" role="dialog" id="confirm-send-request">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Request friend?</h5>
            </div>
            <div class="modal-body">
                <p id="request-user"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="makeFriends()">Send Request</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="closeModal()">No Thanks
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row">

        <div class="col-sm-6">
            <h3>My Friends</h3>
            <div style="max-height: 600px; overflow-y: auto;">
                <table class="table table-borderless">
                    <tbody>
                    <tr th:each="friend : ${friendshipService.getFriends(user)}">
                        <form th:action="@{${manageFriendsUri}}" method="post" th:id="'remove-' + ${friend.getId()}">
                            <td>
                                <div class="card" style="width:25vw">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img th:src="@{${friend.getProfilePictureFilePath()}}"
                                                         class="rounded-circle" style="width: 5vw" alt="Profile Image">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="#"
                                                       class="link-offset-2 link-underline link-underline-opacity-0"
                                                       style="color: #142915; font-size: 30px"
                                                       th:text="${friend.getName()}"></a>
                                                    <div class="d-flex justify-content-lg-around">
                                                        <a th:href="@{${viewFriendsGardensUriString}(friendId=${friend.getId()})}"
                                                           class="btn btn-primary d-flex align-items-center"
                                                           style="border-color: #477641; width: 100px; font-size: 12px; background-color: #477641">
                                                            See Gardens
                                                        </a>
                                                        <div>
                                                            <button class="btn btn-primary"
                                                                    type="button"
                                                                    style="border-color: #477641;
                                                                           width: 100px;
                                                                           font-size: 12px;
                                                                           background-color: #477641;"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#removeFriendModal"
                                                                    th:data-form-id="'remove-' + ${friend.getId()}">
                                                                Remove Friend
                                                            </button>
                                                            <input type="hidden"
                                                                   th:name="action"
                                                                   th:value="'Remove'">
                                                            <input type="hidden"
                                                                   th:name="request"
                                                                   th:value="${friend.getId()}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="col">
                <h3>Incoming Requests</h3>
                <table class="table table-borderless">
                    <tbody>
                    <tr th:if="${requestService.findRequestByReceiver(user).size() == 0}">
                        <td>
                            <div class="card" style="width:25vw">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <p style="color: #142915; font-size: 20px"
                                                   th:text="'No Pending Friend Requests'"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:each="request : ${requestService.findRequestByReceiver(user)}">
                        <form th:action="@{${manageFriendsUri}}" method="post">
                            <td>
                                <div class="card" style="width:25vw">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img th:src="@{${request.getSender().getProfilePictureFilePath()}}"
                                                         class="rounded-circle" style="width: 5vw"
                                                         alt="Profile Image">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="#"
                                                       class="link-offset-2 link-underline link-underline-opacity-0"
                                                       style="color: #142915; font-size: 30px"
                                                       th:text="${request.getSender().getName()}"></a>
                                                    <div>
                                                        <button th:name="action"
                                                                th:type="submit"
                                                                th:value="'Accept'"
                                                                class="btn btn-primary"
                                                                style="border-color: #477641; width: 100px; font-size: 12px; background-color: #477641">
                                                            Accept
                                                        </button>
                                                        <button th:name="action"
                                                                th:type="submit"
                                                                th:value="'Decline'"
                                                                class="btn btn-primary"
                                                                style="border-color: #7c2f2f; width: 100px; font-size: 12px; background-color: #7c2f2f">
                                                            Decline
                                                        </button>
                                                        <input type="hidden"
                                                               th:name="request"
                                                               th:value="${request.getId()}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col">
                <h3>Outgoing Requests</h3>
                <table class="table table-borderless">
                    <tbody>
                    <tr th:if="${requestService.findRequestBySender(user).size() == 0}">
                        <td>
                            <div class="card" style="width:25vw">
                                <div class="card-body">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-sm-8">
                                                <p style="color: #142915; font-size: 20px"
                                                   th:text="'No Sent Friend Requests'"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr th:each="request : ${requestService.findRequestBySender(user)}">
                        <form th:action="@{${manageFriendsUri}}" method="post">
                            <td>
                                <div class="card" style="width:25vw">
                                    <div class="card-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <img th:src="@{${request.getReceiver().getProfilePictureFilePath()}}"
                                                         class="rounded-circle" style="width: 5vw"
                                                         alt="Profile Image">
                                                </div>
                                                <div class="col-sm-8">
                                                    <a href="#"
                                                       class="link-offset-2 link-underline link-underline-opacity-0"
                                                       style="color: #142915; font-size: 30px"
                                                       th:text="${request.getReceiver().getName()}"></a>
                                                    <div>
                                                        <p style="color: #142915; font-size: 20px"
                                                           th:text="${request.getStatus().toString()}"></p>
                                                        <button th:name="action" th:type="submit"
                                                                th:value="'Cancel'"
                                                                class="btn btn-primary"
                                                                style="border-color: #477641; width: 100px; font-size: 12px; background-color: #477641">
                                                            Cancel
                                                        </button>
                                                        <input type="hidden" th:name="request"
                                                               th:value="${request.getId()}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </form>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<div class="modal"
     id="removeFriendModal"
     aria-labelledby="removeFriendModalLabel"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     style="display: none"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeFriendModalLabel">Remove Friend</h5>
            </div>
            <div class="modal-body">
                <p>Please confirm you want to remove as a friend</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal"
                        data-bs-dismiss="modal"
                        data-bs-target="#removeFriendModal">
                    Cancel
                </button>
                <button type="button"
                        class="btn btn-primary"
                        style="border-color: #477641; background-color: #477641">
                    Remove Friend
                </button>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const removeFriendModal = document.getElementById('removeFriendModal');
    const removeFriendButton = document.querySelector('#removeFriendModal .btn-primary');
    let formId;

    removeFriendModal.addEventListener('show.bs.modal', (event) => {
        // Button that triggered the modal
        const button = event.relatedTarget;

        // Extract form id from data-form-id attribute
        formId = button.getAttribute('data-form-id');
    });

    removeFriendButton.addEventListener('click', () => document.getElementById(formId).submit());
</script>
</html>