<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{fragments/importFragment :: headerfiles}">
    <title>Friends</title>
  </head>
  <body class="bg">
    <div class="container-fluid p-0 m-0">
      <nav th:insert="~{fragments/navbar :: navbar}"></nav>
      <div>
        <div class="container-fluid p-3 text-white text-center">
          <h1 class="text-dark">Manage my friends</h1>
          <form method="post" th:action="@{${searchResultsUri}}">
            <div
              class="input-group rounded mx-auto"
              style="width: 100%; max-width: 20vw; min-width: 300px"
            >
              <input
                aria-describedby="search-addon"
                aria-label="Search"
                style="min-width: 10vw"
                autocomplete="off"
                class="form-control rounded"
                id="searchUsers"
                placeholder="Search for new friends"
                th:name="searchUser"
                th:value="*{search}"
                type="text"
              />
              <button
                class="input-group-text border-0 btn-sm"
                id="search-addon"
                th:for="searchForm"
                type="submit"
              >
                <i class="bi bi-search" style="color: black"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="container mt-5">
          <div class="row">
            <div class="col-md-6 col-sm-12 mb-4 column-center">
              <div>
                <h3 class="column-center" style="color: #477641">My Friends</h3>
                <div class="scroll-div">
                  <table
                    class="table table-borderless"
                    style="background-color: #efefec"
                  >
                    <tbody>
                      <tr th:each="friend : ${friends}">
                        <form
                          th:action="@{${manageFriendsUri}}"
                          method="post"
                          th:id="'remove-' + ${friend.getId()}"
                        >
                          <td style="background-color: #efefec;">
                            <div class="card card-container mb-1 shadow">
                              <div class="card-body">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div
                                      class="col-4 d-flex align-items-center"
                                    >
                                      <img
                                        alt="Profile Image"
                                        class="rounded-circle"
                                        th:src="@{${friend.getProfilePictureFilePath()}}"
                                      />
                                    </div>
                                    <div class="col-8">
                                      <a
                                        class="link-offset-2 link-underline link-underline-opacity-0"
                                        style="color: #142915; font-size: 20px"
                                        th:text="${friend.getName()}"
                                        th:href="@{${viewFriendsProfileUriString}(friendId=${friend.getId()})}">
                                      </a>
                                      <div class="mt-2">
                                        <a
                                          class="btn btn-confirm btn-sm"
                                          th:href="@{${viewFriendsGardensUriString}(friendId=${friend.getId()})}"
                                          >
                                          View Gardens <i class="bi bi-tree-fill"></i>
                                        </a>
                                        <button
                                          class="btn btn-cancel btn-sm"
                                          type="button"
                                          data-bs-toggle="modal"
                                          data-bs-target="#removeFriendModal"
                                          th:data-form-id="'remove-' + ${friend.getId()}"
                                        >
                                          Remove <i class="bi bi-x"></i>
                                        </button>
                                        <input
                                          type="hidden"
                                          th:name="action"
                                          th:value="'Remove'"
                                        />
                                        <input
                                          type="hidden"
                                          th:name="request"
                                          th:value="${friend.getId()}"
                                        />
                                      </div>
                                      <a
                                      th:href="@{${viewFriendsProfileUriString}(friendId=${friend.getId()})}"
                                      >
                                      View Profile</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </form>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 mb-4">
              <div class="col">
                <h3 class="column-center scroll-div" style="color: #477641; max-height: 400px; overflow-y: auto">Incoming Requests</h3>
                <div class="scroll-div">
                <table class="table table-borderless">
                  <tbody>
                    <tr th:if="${incoming.size() == 0}">
                      <td style="background-color: #efefec">
                        <div class="card mb-1 shadow">
                          <div class="card-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div
                                  class="col-12 d-flex align-items-center column-center"
                                >
                                  <p
                                    style="color: #142915; font-size: 20px"
                                    th:text="'No Pending Friend Requests'"
                                  ></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr th:each="request : ${incoming}">
                      <form method="post" th:action="@{${manageFriendsUri}}">
                        <td style="background-color: #efefec">
                          <div class="card mb-1 shadow">
                            <div class="card-body">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-4 d-flex align-items-center">
                                    <img
                                      alt="Profile Image"
                                      class="rounded-circle"
                                      style="width: 80px; height: 80px"
                                      th:src="@{${request.getSender().getProfilePictureFilePath()}}"
                                    />
                                  </div>
                                  <div class="col-8">
                                    <a
                                      class="link-offset-2 link-underline link-underline-opacity-0"
                                      style="color: #142915; font-size: 20px"
                                      th:text="${request.getSender().getName()}"
                                    ></a>
                                    <div class="mt-2">
                                      <button
                                        class="btn btn-confirm btn-sm"
                                        type="submit"
                                        th:name="action"
                                        th:value="'Accept'"
                                      >
                                        Accept <i class="bi bi-check"></i>
                                      </button>
                                      <button
                                        class="btn btn-cancel btn-sm"
                                        type="submit"
                                        th:name="action"
                                        th:value="'Decline'"
                                      >
                                        Decline <i class="bi bi-x"></i>
                                      </button>
                                      <input
                                        th:name="request"
                                        th:value="${request.getId()}"
                                        type="hidden"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </form>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
              <div class="col">
                <h3 class="column-center" style="color: #477641; margin-top: 10px">Outgoing Requests</h3>
                <div class="scroll-div">
                <table class="table table-borderless scroll-div">
                  <tbody>
                    <tr th:if="${outgoing.size() == 0}">
                      <td style="background-color: #efefec">
                        <div class="card mb-1 shadow">
                          <div class="card-body">
                            <div class="container-fluid">
                              <div class="row">
                                <div
                                  class="col-12 d-flex align-items-center column-center"
                                >
                                  <p
                                    style="color: #142915; font-size: 20px"
                                    th:text="'No Sent Friend Requests'"
                                  ></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr th:each="request : ${outgoing}">
                      <form method="post" th:action="@{${manageFriendsUri}}">
                        <td style="background-color: #efefec">
                          <div class="card card-container mb-1 shadow">
                            <div class="card-body ">
                              <div class="container-fluid">
                                <div class="row">
                                  <div class="col-4 d-flex align-items-center">
                                    <img
                                      alt="Profile Image"
                                      class="rounded-circle"
                                      style="width: 80px; height: 80px"
                                      th:src="@{${request.getReceiver().getProfilePictureFilePath()}}"
                                    />
                                  </div>
                                  <div class="col-8">
                                    <a
                                      class="link-offset-2 link-underline link-underline-opacity-0"
                                      style="color: #142915; font-size: 20px"
                                      th:text="${request.getReceiver().getName()}"
                                    ></a>
                                    <div class="mt-2">
                                      <div style="display: flex">
                                        <p
                                                style="color: #142915; font-size: 20px; margin-bottom: 2px"
                                        ><span th:text="${request.getStatus().toString()}" style="margin-right: 8px"></span></p>
                                        <button
                                                class="btn btn-cancel btn-sm"
                                                type="submit"
                                                th:name="action"
                                                th:value="Cancel"
                                        >
                                          <span th:text="${request.isDeclined()} ? 'Remove' : 'Cancel'"/>
                                          <i class="bi bi-x"></i>
                                        </button>
                                      </div>
                                      <input
                                        th:name="request"
                                        th:value="${request.getId()}"
                                        type="hidden"
                                      />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </td>
                      </form>
                    </tr>
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
          <div
            class="modal"
            id="removeFriendModal"
            aria-labelledby="removeFriendModalLabel"
            tabindex="-1"
            role="dialog"
            aria-hidden="true"
            style="display: none"
          >
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="removeFriendModalLabel">
                    Remove Friend
                  </h5>
                </div>
                <div class="modal-body">
                  <p>Please confirm you want to remove this friend</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-edit"
                    data-dismiss="modal"
                    data-bs-dismiss="modal"
                    data-bs-target="#removeFriendModal"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="btn btn-cancel"
                  >
                    Remove Friend
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <style>
    .card {
      flex: 0 0 auto;
      width: 100%;
      max-width: 400px;
      min-width: 20vw;
      margin: 0 auto;
    }

    .card img {
      flex-shrink: 0;
      width: 80px;
      height: 80px;
    }

     .card.card-container {
       min-width: 415px;
     }
    @media (max-width: 994px) {
      .card.card-container {
        min-width: auto;
      }
    }

    .scroll-div {
      max-height: 538px;
      overflow-y: auto;
    }

    body,
    td {
      background-color: #efefec;
    }

    .column-center {
      display: flex;
      justify-content: center;
    }
  </style>
  <script>
    const removeFriendModal = document.getElementById("removeFriendModal");
    const removeFriendButton = document.querySelector(
      "#removeFriendModal .btn-primary",
    );
    let formId;

    removeFriendModal.addEventListener("show.bs.modal", (event) => {
      // Button that triggered the modal
      const button = event.relatedTarget;

      // Extract form id from data-form-id attribute
      formId = button.getAttribute("data-form-id");
    });

    removeFriendButton.addEventListener("click", () =>
      document.getElementById(formId).submit(),
    );
  </script>
</html>
