<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Plant</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:insert="~{fragmentExample/fragments :: title}">Header</div>
<nav th:insert="~{fragmentExample/fragments :: gardens}">Gardens</nav>
<div class="content">
    <div>
        <div>
            <form th:action="@{form}" method="post" id="plant-form" enctype="multipart/form-data">
                <div class="form-field">
                    <label class="form-input" for="plantName"> Plant Name: </label>
                    <input type="text" class="form-control" id="plantName" th:name="plantName"
                           th:value="*{plantName}" data-cy="plantName" autofocus>
                    <h5 th:text=${plantNameError}></h5>
                </div>
                <br/>
                <div class="form-field">
                    <label class="form-input" for="plantCount"> Number of these plants to add to garden: </label>
                    <input type="number" step="1" class="form-control" id="plantCount" th:name="plantCount"
                           th:value="*{plantCount}" data-cy="plantCount" autofocus>
                    <h5 th:text=${plantCountError}></h5>
                </div>
                <br/>
                <div class="form-field">
                    <label class="form-input" for="plantDescription"> Plant Description: </label>
                    <input type="text" class="form-control" id="plantDescription" th:name="plantDescription"
                           th:value="*{plantDescription}" data-cy="plantDescription" autofocus>
                    <h5 th:text=${plantDescriptionError}></h5>
                </div>
                <br/>
                <div class="form-field">
                    <label class="form-input" for="plantedDate"> Date Planted: </label>
                    <input type="text" class="form-control" id="plantedDate" th:name="plantedDate"
                           th:value="*{plantedDate}" data-cy="plantedDate" autofocus>
                    <h5 th:text=${plantedDateError}></h5>
                </div>
                <br/>
                <div class="form-field">
                    <label class="form-input" for="plantImage"> Select Image: </label>
                    <input type="file" class="form-control" id="plantImage" th:name="plantImage" accept="image/*"
                           th:value="*{plantImage}" data-cy="plantedDate" placeholder="DD/MM/YYYY" autofocus>
                    <h5 th:text=${plantImageError}></h5>
                </div>
                <br>
                <button class="form-button" type="submit">Submit!</button>
                <a th:href="@{demo}">
                    <button class="form-button" type="button">Cancel</button>
                </a>
            </form>
        </div>
    </div>
</div>
</body>
</html>