<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Add Plant</title>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:insert="~{fragments/fragments :: title}">Header</div>
<nav th:insert="~{fragments/fragments :: gardens}">Gardens</nav>
<div class="content">
    <h1 th:text="${gardenName}"></h1>
    <div>
        <div>
            <form th:action="@{/plantform(gardenId=${gardenId})}" method="post" id="plant-form" enctype="multipart/form-data">
                <div class="form-field">
                    <label class="form-input" for="plantName"> Plant Name: </label>
                    <input type="text" class="form-control" id="plantName" th:name="plantName"
                           th:value="*{plantName}" data-cy="plantName" autofocus>
                    <h5 th:text=${plantNameError}></h5>
                </div>
                <br/>
                <div class="form-field">
                    <label class="form-input" for="plantCount"> Number of these plants to add to garden: </label>
                    <input type="number" step="1" class="form-control" id="plantCount" th:name="plantCount"
                           th:value="*{plantCount}" data-cy="plantCount" autofocus>
                    <h5 th:text=${plantCountError}></h5>
                </div>
                <br/>
                <div class="form-field">
                    <label class="form-input" for="plantDescription"> Plant Description: </label>
                    <textarea form="plant-form" type="text" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"'
                              class="form-control" id="plantDescription" th:name="plantDescription"
                              th:text="*{plantDescription}" data-cy="plantDescription" autofocus></textarea>
                    <h5 th:text=${plantDescriptionError}></h5>
                </div>
                <br/>
                <div class="form-field">
                    <label class="form-input" for="plantedDate"> Date Planted: </label>
                    <input type="date" class="form-control" id="plantedDate" th:name="plantedDate"
                           th:value="*{plantedDate}" data-cy="plantedDate" placeholder="DD/MM/YYYY" autofocus>
                    <h5 th:text=${plantedDateError}></h5>
                </div>
                <br/>

                <div class="form-field">
                    <div class="plant-image-container">
                        <img class="selectedImage" th:src="@{/images/default-plant.jpg}"  alt="Plant Image">
                        <p id = "image-selected-message"></p>
                        <div class="add-image">
                            <label for="plantImage">
                                <i class="fas fa-plus-circle"></i>
                            </label>
                            <input type="file" class="form-control" id="plantImage" th:name="plantImage" accept=".jpg, .svg, .png"
                                   data-cy="plantImage" onchange="displayImage()" autofocus>
                        </div>
                    </div>
                    <h5 th:text=${plantImageTypeError}></h5>
                    <h5 th:text=${plantImageSizeError}></h5>
                </div>

                <br>
                <button class="form-button" type="submit">Submit!</button>
                <a th:href="@{/view-garden(gardenId=${gardenId})}">
                    <button class="form-button" type="button">Cancel</button>
                </a>
            </form>
        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<script th:src="@{/javascript/image.js}"></script>
</body>
</html>