<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="~{fragments/importFragment :: headerfiles}">
  <title>Profile Page</title>
</head>
<style>
  body {
    background: #EFEFEC;
    font-family: gill sans, sans-serif;
    margin: 0;
  }

  .profile-card {
    background: white;
  }
</style>

<body>
  <nav th:insert="~{fragments/navbar :: navbar}" style=""></nav>
  <div class="row">
    <div class="col-12">
      <div class="container-fluid m-3 rounded bg-white">
        <p>hello</p>

      </div>
    </div>
</body>

</html>
