<!doctype html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://thymeleaf.org"
  lang="us"
>
  <head>
    <meta charset="UTF-8" />
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script
      type="text/javascript"
      src="/javascript/ValidationService.js"
    ></script>
  </head>
  <body>

    <div class="registerBody">
        <h1 id="registerH1">Register</h1>
      <a th:href="@{/}" class="button">Cancel</a>
      <div class="forumContentsDiv">
        <h1>Register</h1>
        <form
          th:action="@{register}"
          method="post"
          name="registerForm"
        >
          <label for="firstName">First name:</label>
          <input
            class="inputStyle"
            type="text"
            id="firstName"
            name="firstName"
            th:name="firstName"
            th:value="${firstName}"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="firstNameError" th:text=${firstNameError}></p>


          <label for="lastName">Last name:</label>
          <input
            class="inputStyle"
            type="text"
            id="lastName"
            name="lastName"
            th:name="lastName"
            th:value="${lastName}"
            autofocus
            autocomplete="off"
          />

          <div class="noSurname">
            <label for="noSurname" class="noSurnameCheckbox">
              <input
                type="checkbox"
                id="noSurname"
                value="checked"
                th:name="noSurname"
                th:checked="${noSurname}"
                th:value="${noSurname}"
                autofocus
                autocomplete="off"
                onchange="updateCheckboxValue()"
              />
              I have no surname
            </label>
          </div>

          <script>
            function updateCheckboxValue() {
              var checkbox = document.getElementById("noSurname");
              var lastName = document.getElementById("lastName")
              if (checkbox.checked) {
                checkbox.value = "true";
                lastName.value = "";
                lastName.disabled=true;
              } else {
                checkbox.value = "false";
                lastName.disabled=false;
              }
            }
          </script>

          <p class="errorMessage" id="lastNameError" th:text=${lastNameError}></p>

          <label for="email">Email:</label>
          <input
            class="inputStyle"
            type="text"
            id="email"
            name="email"
            th:name="email"
            th:value="${email}"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="emailError" th:text=${emailError}></p>

          <label for="password">Password:</label>
          <input
            class="inputStyle"
            type="password"
            id="password"
            name="password"
            th:name="password"
            th:value="*{password}"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="passwordError" th:text=${passwordError}></p>

          <label for="passwordConfirm">Confirm Password:</label>
          <input
            class="inputStyle"
            type="password"
            id="passwordConfirm"
            name="passwordConfirm"
            th:name="passwordConfirm"
            th:value="*{passwordConfirm}"
            autofocus
            autofill="off"
          />
          <p class="errorMessage" id="passwordConfirmError" th:text=${passwordConfirmError}></p>

          <label for="dateOfBirth">Date of Birth:</label>
          <input
            class="inputStyle"
            type="date"
            id="dateOfBirth"
            name="dateOfBirth"
            th:name="dateOfBirth"
            th:value="${dateOfBirth}"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="dateOfBirthError" th:text=${dateOfBirthError}></p>

          <input class="inputStyle" id="submit" type="submit" value="Submit"/>
        </form>
        <p class="registerLink"> Already have an account?<a id="registerLink" th:href="@{/login}"> Login Here.</a></p>
      </div>
    </div>
  </body>
</html>
