<!doctype html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head th:insert="~{fragments/importFragment :: headerfiles}">
    <title>Register</title>
  </head>

  <body onload="loadingPage()" class="login-bg min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container-flex d-flex align-items-center p-3">
      <div class="g-col-md-4">
        <div class="bg-white p-5 rounded shadow">
          <div class="row align-content-center">
            <h1 id="title" class="text-center display-3 title-heading mb-4">Register</h1>
          </div>

          <form
                  th:action="@{${registerUri}}"
                  method="post"
                  name="registerForm"
          >
            <div class="row d-flex align-content-around align-items-start">
              <div class="col-md-6">
                <div class="mb-3 form-floating">
                  <input
                          class="form-control"
                          type="text"
                          id="firstName"
                          name="firstName"
                          th:name="firstName"
                          th:value="${firstName}"
                          autofocus
                          autocomplete="off"
                          placeholder="First Name*"
                          th:classappend="${firstNameError} ? 'is-invalid'"
                  />
                  <!-- The smallest font size of bootstrap is still big enough for mobile so need to make it smaller -->
                  <label for="firstName" class="form-label">First Name*</label>
                  <p class="form-text text-danger" id="firstnameError" th:text="${firstNameError}"></p>
                </div>

              </div>
              <div class="col-md-6">
                <div class="mb-3 form-floating">
                  <input
                          class="form-control"
                          type="text"
                          id="lastName"
                          name="lastName"
                          th:name="lastName"
                          th:value="${lastName}"
                          autofocus
                          autocomplete="off"
                          placeholder="Last Name*"
                          th:classappend="${lastNameError} ? 'is-invalid'"
                  />
                  <label for="lastName" class="form-label">Last Name*</label>
                  <div class="row">
                    <div class="noSurname">
                      <label for="noSurname" class="noSurnameCheckbox">
                        <input
                                type="checkbox"
                                id="noSurname"
                                value="checked"
                                th:name="noSurname"
                                th:checked="${noSurname}"
                                th:value="${noSurname}"
                                autofocus
                                autocomplete="off"
                                onchange="updateCheckboxValue()"
                        />
                        No surname
                      </label>
                    </div>
                  </div>
                  <p class="form-text text-danger" id="lastNameError" th:text="${lastNameError}"></p>
                </div>
              </div>
            </div>

            <div class="mb-3 form-floating">
              <input
                      class="form-control"
                      type="text"
                      id="email"
                      name="email"
                      th:name="email"
                      th:value="${email}"
                      autofocus
                      autocomplete="off"
                      placeholder="Email*"
                      th:classappend="${emailError} ? 'is-invalid'"
              />
              <label for="email" class="form-label">Email*</label>
              <p class="form-text text-danger" id="emailError" th:text="${emailError}"></p>
            </div>

            <div class="mb-3 form-floating">
              <input
                      class="form-control"
                      type="date"
                      id="dateOfBirth"
                      name="dateOfBirth"
                      th:name="dateOfBirth"
                      th:value="${dateofBirth}"
                      autofocus
                      autocomplete="off"
                      th:classappend="${dateOfBirthError} ? 'is-invalid'"
              />
              <label for="dateOfBirth" class="form-label">Date of Birth</label>
              <p class="form-text text-danger" id="dateOfBirthError" th:text="${dateOfBirthError}"></p>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3 form-floating">
                  <input
                          class="form-control"
                          type="password"
                          id="password"
                          name="password"
                          th:name="password"
                          placeholder="Password*"
                          autofocus
                          autocomplete="off"
                          th:classappend="${passwordError} ? 'is-invalid'"
                  />
                  <label for="password" class="form-label">Password*</label>
                  <p class="form-text text-danger" id="passwordError" th:text="${passwordError}"></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3 form-floating">
                  <input
                          class="form-control"
                          type="password"
                          id="passwordConfirm"
                          name="passwordConfirm"
                          th:name="passwordConfirm"
                          placeholder="Confirm Password*"
                          autofocus
                          autocomplete="off"
                          th:classappend="${passwordConfirmError} ? 'is-invalid'"
                  />
                  <label for="passwordConfirm" class="form-label">Confirm Password*</label>
                  <p class="form-text text-danger" id="passwordConfirmError" th:text="${passwordConfirmError}"></p>
                </div>
              </div>
            </div>

           <div class="d-flex justify-content-center">
             <button class="btn btn-outline-primary me-1"
                     type="submit"
                     style="
                           border-color: #477641;
                           --bs-btn-color: #477641;
                           --bs-btn-hover-bg: #477641;
                           --bs-btn-hover-color: #fff;
                           --bs-btn-active-bg: #477641;
                           "
             >Register <i class="bi bi-check"></i>
             </button>
             <a th:href="@{homeUri}">
               <button class="btn btn-outline-primary ms-1"
                       type="button"
                       style="
                                    border-color: #6F0C0C;
                                    --bs-btn-color: #6F0C0C;
                                    --bs-btn-hover-bg: #6F0C0C;
                                    --bs-btn-hover-color: #fff;
                                    --bs-btn-active-bg: #6F0C0C;
                                  "
               >Cancel <i class="bi bi-x"></i>
               </button>
             </a>
           </div>

          </form>
          <div class="d-flex justify-content-center mt-5">
            <p class="registerLink"> Already have an account?<a id="registerLink" th:href="@{${loginUri}}"> Login
              Here.</a></p>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/javascript/disableLastName.js}"></script>
  </body>
</html>
