<!doctype html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
>
  <head>
    <meta charset="utf-8" />
    <title>register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/newstyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}">
    <script th:src="@{/webjars/bootstrap/5.3.2/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/disableLastName.js}"></script>
<!--    <style>-->
<!--      .registerBody {-->
<!--          margin-top: 5rem;-->
<!--      }-->

<!--      .titleDiv {-->
<!--          display: flex;-->
<!--      }-->

<!--      #moron {-->
<!--          align-items: flex-start;-->
<!--      }-->

<!--      #title {-->
<!--          display: flex;-->
<!--          justify-content: center;-->
<!--      }-->


<!--    </style>-->
  </head>
  <body onload="loadingPage()">


    <div class="registerBody">
      <div class="forumContentsDiv" style="margin-top: 5rem; border: solid #477641 0.2rem">
        <div class="row align-items-center">
          <a th:href="@{${homeUri}}" class="col-3">Cancel</a>
          <h1 id="title" class="col-4 align-content-center">Register</h1>
          <div class="col-4"></div>
        </div>

        <form
                th:action="@{${registerUri}}"
          method="post"
          name="registerForm"
        >
          <label for="firstName">First name:</label>
          <input
            class="inputStyle"
            type="text"
            id="firstName"
            name="firstName"
            th:name="firstName"
            th:value="${firstName}"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="firstNameError" th:text="${firstNameError}"></p>


          <label for="lastName">Last name:</label>
          <input
            class="inputStyle"
            type="text"
            id="lastName"
            name="lastName"
            th:name="lastName"
            th:value="${lastName}"
            autofocus
            autocomplete="off"
          />

          <div class="noSurname">
            <label for="noSurname" class="noSurnameCheckbox">
              <input
                type="checkbox"
                id="noSurname"
                value="checked"
                th:name="noSurname"
                th:checked="${noSurname}"
                th:value="${noSurname}"
                autofocus
                autocomplete="off"
                onchange="updateCheckboxValue()"
              />
              I have no surname
            </label>
          </div>

          <p class="errorMessage" id="lastNameError" th:text="${lastNameError}"></p>

          <label for="email">Email:</label>
          <input
            class="inputStyle"
            type="text"
            id="email"
            name="email"
            th:name="email"
            th:value="${email}"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="emailError" th:text="${emailError}"></p>

          <label for="password">Password:</label>
          <input
            class="inputStyle"
            type="password"
            id="password"
            name="password"
            th:name="password"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="passwordError" th:text="${passwordError}"></p>

          <label for="passwordConfirm">Confirm Password:</label>
          <input
            class="inputStyle"
            type="password"
            id="passwordConfirm"
            name="passwordConfirm"
            th:name="passwordConfirm"
            autofocus
          />
          <p class="errorMessage" id="passwordConfirmError" th:text="${passwordConfirmError}"></p>

          <label for="dateOfBirth">Date of Birth:</label>
          <input
            class="inputStyle"
            type="date"
            id="dateOfBirth"
            name="dateOfBirth"
            th:name="dateOfBirth"
            th:value="${dateOfBirth}"
            autofocus
            autocomplete="off"
          />
          <p class="errorMessage" id="dateOfBirthError" th:text="${dateOfBirthError}"></p>

          <input class="inputStyle" id="submit" type="submit" value="Submit"/>
        </form>
        <p class="registerLink"> Already have an account?<a id="registerLink" th:href="@{${loginUri}}"> Login
          Here.</a></p>
      </div>
    </div>
  </body>
</html>
