<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="us">

<head th:insert="~{fragments/importFragment :: headerfiles}">
    <meta charset="UTF-8"/>
    <title>Edit Password</title>
</head>
<body>
<div class="container-flex d-flex justify-content-center align-items-center vh-100 login-bg p-3">
    <div>
        <div class="g-col-md-4">
            <div class="bg-white p-5 rounded shadow ">
                    <form th:action="@{${resetPasswordUri}}"
                          method="post"
                          class=""
                          id="editPassword"
                          name="editPassword"
                    >
                        <h2 class="text-center display-3 title-heading mb-4">Reset Password</h2>
                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   type="password"
                                   id="newPassword"
                                   name="newPassword"
                                   placeholder="newPassword"
                                   th:name="newPassword"
                                   data-cy="newPassword"
                                   autofocus
                                   th:classappend="${retypeNewPasswordError} ? 'is-invalid'"
                            >
                            <label for="newPassword">Enter new password:</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   type="password"
                                   id="retypeNewPassword"
                                   name="retypeNewPassword"
                                   placeholder="retypeNewPassword"
                                   th:name="retypeNewPassword"
                                   data-cy="retypeNewPassword"
                                   autofocus
                                   th:classappend="${passwordConfirmError} ? 'is-invalid'"
                            >
                            <label for="retypeNewPassword">Retype password:</label>
                        </div>
                        <p class="error message" id="retypeNewPasswordError" th:text="${retypeNewPasswordError}"></p>
                        <p class="error message" id="passwordConfirmError" th:text="${passwordConfirmError}"></p>
                        <button class="btn btn-confirm"
                                type="submit"
                        >Submit <i class="bi bi-check"></i>
                        </button>

                        <a th:href="@{${loginUri}}">
                            <button
                                    class="btn btn-cancel"
                                    type="button"
                            >
                                Cancel <i class="bi bi-x"></i>
                            </button>
                        </a>

                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>