<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="us">

<head>
    <meta charset="UTF-8"/>
    <title>Edit Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div>
    <form th:action="@{${resetPasswordUri}}"
          method="post"
          id="editPassword"
          name="editPassword">

        <label for="newPassword">Enter new password:</label>
        <input class="inputStyle"
               type="password"
               id="newPassword"
               name="newPassword"
               th:name="newPassword"
        />

        <label for="retypeNewPassword">Retype password:</label>
        <input class="inputStyle"
               type="password"
               id="retypeNewPassword"
               name="retypeNewPassword"
               th:name="retypeNewPassword"
        />
        <p class="errorMessage" id="retypeNewPasswordError" th:text="${retypeNewPasswordError}"></p><br/>
        <p class="errorMessage" id="passwordConfirmError" th:text="${passwordConfirmError}"></p>
        <input class="inputStyle" id="submit" type="submit" value="Submit"/>
    </form>
</div>
</body>
</html>