<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="us">

<head th:insert="~{fragments/importFragment :: headerfiles}">
    <meta charset="UTF-8"/>
    <title>Edit Password</title>
</head>
<body>
    <div
            class="container-flex d-flex justify-content-center mt-5 w-100 align-items-center"
    >
        <div class="content">
            <div>
                <div class="forumContentsDiv">
                    <h2 class="text-center display-3 title-heading mb-4">Reset Password</h2>
                    <form th:action="@{${resetPasswordUri}}"
                          method="post"
                          class=""
                          id="editPassword"
                          name="editPassword"
                    >
                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   type="password"
                                   id="newPassword"
                                   name="newPassword"
                                   placeholder="newPassword"
                                   th:name="newPassword"
                                   data-cy="newPassword"
                                   autofocus
                            >
                            <label for="newPassword">Enter new password:</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control"
                                   type="password"
                                   id="retypeNewPassword"
                                   name="retypeNewPassword"
                                   placeholder="retypeNewPassword"
                                   th:name="retypeNewPassword"
                                   data-cy="retypeNewPassword"
                                   autofocus
                            >
                            <label for="retypeNewPassword">Retype password:</label>
                        </div>
                        <p class="error message" id="retypeNewPasswordError" th:text="${retypeNewPasswordError}"></p>
                        <p class="error message" id="passwordConfirmError" th:text="${passwordConfirmError}"></p>
                        <button class="btn btn-outline-primary"
                                type="submit"
                                style="
                                         border-color: #477641;
                                         --bs-btn-color: #477641;
                                         --bs-btn-hover-bg: #477641;
                                         --bs-btn-hover-color: #fff;
                                         --bs-btn-active-bg: #477641;
                                         "
                        >Submit <i class="bi bi-check"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>