<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/importFragment :: headerfiles}">
    <title>Friends</title>
</head>

<body style="">
<div class="container-fluid p-0 m-0">
    <nav th:insert="~{fragments/navbar :: navbar}"></nav>

    <div>
        <div class="container-fluid p-5 text-white text-center">
            <h1 class="text-black">Search Results</h1>
            <form method="post" th:action="@{${searchResultsUri}}">
                <div class="input-group rounded mx-auto" style="width: 20vw;">
                    <input aria-describedby="search-addon" aria-label="Search"
                           autocomplete="off"
                           class="form-control rounded"
                           id="searchUsers"
                           placeholder="Search for new friends"
                           th:name="searchUser"
                           th:value="${search}"
                           type="text"/>
                    <button class="input-group-text border-0" id="search-addon" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="container mt-5">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Found users:</h3>
                    <div style="max-height: 600px; overflow-y: auto;">
                        <div th:if="${usersFound.isEmpty()}">
                            <h5>There is nobody with that name or email in Gardener’s Grove</h5>
                        </div>
                        <div th:each="friend, iterStat : ${usersFound}">
                            <div class="row mb-4" th:if="${iterStat.index % 2 == 0}">
                                <div class="col-md-6">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img alt="Profile Image"
                                                             class="rounded-circle" style="width: 5vw"
                                                             th:src="@{${friend.getUser().getProfilePictureFilePath()}}">
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <a class="link-offset-2 link-underline link-underline-opacity-0"
                                                           href="#"
                                                           style="color: #142915; font-size: 30px"
                                                           th:text="${friend.getUser().getName()}"></a>
                                                        <p th:text="${friend.getUser().getEmail()}"></p>
                                                        <div>
                                                            <form method="post"
                                                                  th:action="@{${sendFriendRequestUri}}" th:if="${friend.isRequestEnabled()}">
                                                                <input th:name="userId" th:value="${friend.getUser().getId()}"
                                                                       type="hidden">
                                                                <button
                                                                        class="btn btn-primary"
                                                                        style="border-color: #477641; width: 100px; font-size: 12px; background-color: #477641"
                                                                        th:text="${friend.getStatusText()}">
                                                                </button>
                                                            </form>
                                                            <div th:unless="${friend.isRequestEnabled()}">
                                                                <button
                                                                        class="btn btn-primary"
                                                                        style="border-color: #477641; width: 100px; font-size: 12px; background-color: #477641"
                                                                        th:text="${friend.getStatusText()}"
                                                                        th:unless="${friend.isUserSelf()}">
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Second card in the pair, if it exists -->
                                <div class="col-md-6" th:if="${iterStat.index + 1 < usersFound.size()}">
                                    <div class="card" style="width:100%">
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <img alt="Profile Image"
                                                             class="rounded-circle" style="width: 5vw"
                                                             th:src="@{${usersFound[iterStat.index + 1].getUser().getProfilePictureFilePath()}}">
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <a class="link-offset-2 link-underline link-underline-opacity-0"
                                                           href="#"
                                                           style="color: #142915; font-size: 30px"
                                                           th:text="${usersFound[iterStat.index + 1].getUser().getName()}"></a>
                                                        <p th:text="${usersFound[iterStat.index + 1].getUser().getEmail()}"></p>
                                                        <div>
                                                            <form method="post"
                                                                  th:action="@{${sendFriendRequestUri}}" th:if="${friend.isRequestEnabled()}">
                                                                <input th:name="userId" th:value="${usersFound[iterStat.index + 1].getUser().getId()}"
                                                                       type="hidden">
                                                                <button
                                                                        class="btn btn-primary"
                                                                        style="border-color: #477641; width: 100px; font-size: 12px; background-color: #477641"
                                                                        th:text="${usersFound[iterStat.index + 1].getStatusText()}">
                                                                </button>
                                                            </form>
                                                            <div th:unless="${friend.isRequestEnabled()}">
                                                                <button
                                                                        class="btn btn-primary"
                                                                        style="border-color: #477641; width: 100px; font-size: 12px; background-color: #477641"
                                                                        th:text="${usersFound[iterStat.index + 1].getStatusText()}"
                                                                        th:unless="${friend.isUserSelf()}">
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
</body>
</html>
