<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>tokenValidation</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="forumContentsDiv">
    <h3>Please verify It is you!!!</h3>
    <p>For security reason, we are sending an email with a token to make user verify the email they use for
    the account is their own account.</p>

    <p>Please enter a 6 digits token to verify your account. </p>
        <br />
    <form th:action="@{/register/verify}" method="post">
        <label for="token">TOKEN:</label>
        <input id="token" type="text" name="tokenValue" th:name="tokenValue">
        <input id="verify" type="submit" value="verify!">
    </form>
    <p class="errorMessage" th:text="${tokenInvalid}"></p>

    <p>If this was not you, you can ignore this message and the account will be
        deleted after 10 minutes</p>
</div>
</body>
</html>