<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>tokenValidation</title>
    <link rel="stylesheet" type="text/css" th:href="/css/style.css">
</head>
<body>
<div>
    <h3>Please verify It is you!!!</h3>
    <p>For security reason, we are sending an email with a token to make user verify the email they use for
    the account is their own account.</p>
    <br />
    <p>Please enter a 6 digits token to verify your account. </p>
        <br />
<!--    create form to submit user input-->

    <p>Your account will be removed after 10 minutes from you created this account. If you do not verify.</p>
</div>
</body>
</html>