<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" context="text/html; charset=UTF-8">
    <title>Gardens' Grove</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:insert="fragmentExample/fragments :: title">Header</div>
<nav th:insert="fragmentExample/fragments :: gardens">Gardens</nav>
<h4>View Gardens</h4>

<div class="content" >
    <div th:if="${garden.isPresent()}" >
        <h2 th:text="${garden.get().name}"></h2>

        <article class="in-line"><p>Name: </p>
            <p th:text="${garden.get().name}"></p></article>
        <article class="in-line"><p>Location: </p>
            <p th:text="${garden.get().location}"></p></article>
        <article class="in-line"><p>Size: </p>
            <p th:text="${garden.get().getSize() != null ? garden.get().size : 'unspecified'}"></p>
        </article>

    </div>

    <table>
        <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${plants.empty}">
            <td colspan="2"> No responses have been made yet</td>
        </tr>
        <tr th:each="plant : ${plants}">
            <p>Images here</p>
            <td>
                <form th:action="@{/view-garden(gardenId=${gardenId})}" method="post" id="plant-form" enctype="multipart/form-data">
                    <div class="form-field">
                        <div class="plant-image-container">
                            <img id="selectedImage" th:src="${plant.getBase64Image()}" alt="plantImage"/>
                            <p id="image-selected-message"></p>
                            <div class="add-image">
                                <label for="plantImage">
                                    <i class="fas fa-plus-circle"></i>
                                </label>
                                <input type="file" class="form-control" id="plantImage" th:name="plantImage" accept=".jpg, .svg, .png"
                                       th:value="*{plantImage}" data-cy="plantedDate" onchange="displayImage()" autofocus>                            </div>
                        </div>
                    </div>
                    <button class="form-button" type="submit" id="submitBtn" style="display: none;">Submit</button>
                </form>
            </td>
            <td><span th:text="${plant.name}"> Name </span></td>
        </tr>
        </tbody>
    </table>

    <a th:href="@{/plantform(gardenId=${garden.get().getId()})}">
        <button class="form-button" type="button">Add Plant</button>
    </a>
    <div th:unless="${garden.isPresent()}">
        <p>Garden does not exist. Please select or create another garden.</p>
    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<script>
    function displayImage() {

        console.log("Image Uploaded");

        const input = document.getElementById('plantImage');
        const img = document.getElementById('selectedImage');
        const file = input.files[0];
        const reader = new FileReader();

        reader.onload = function(e) {
            img.src = e.target.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        }

        document.getElementById('submitBtn').click()
    }
</script>
</body>
</html>