<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/importFragment :: headerfiles}"><title>Gardeners' Grove</title></head>

<body class="bg">
<div class="container-fluid d-flex flex-column p-0 m-0 align-items-center">
  <nav th:insert="~{fragments/navbar :: navbar}" class="w-100"></nav>

  <div class="d-flex justify-content-center mt-5 w-100 mb-5">
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="row">
              <div class="container">
                <div class="row">
                  <div class="col-auto">
                    <h2 class="text-break" th:text="${garden.getName()}"></h2>
                  </div>
                  <div class="col-sm-2 col-md-3 col-lg-4">
                    <a th:href="@{${editGardenUri}}" style="text-decoration: none">
                      <button class="btn btn-outline-primary"
                              type="button"
                              style="
                            border-color: #000;
                            --bs-btn-color: #000;
                            --bs-btn-hover-bg: #000;
                            --bs-btn-hover-color: #fff;
                            --bs-btn-active-bg: #000;
                          "
                      > Edit Garden <i class="bi bi-pencil"></i>
                      </button>
                    </a>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="container">
                <p class="text-break" th:text="${garden.getDescription()}"></p>
                <p th:text="${garden.getLocationString()}"></p>
                <p th:if="${garden.getSize() != null}" th:utext="'Size: ' +${garden.getSize().toString()} + 'm<sup>2</sup>'"></p>
                <p th:if="${garden.getSize() == null}">Size: Unspecified</p>
                <form th:if="${owner}" th:action="@{${makeGardenPublic}}" method="post">
                  <label for="publicGarden" class="publicGardenCheckbox">
                    <input
                            type="checkbox"
                            id="publicGarden"
                            th:name="publicGarden"
                            th:checked="${garden.isGardenPublic()}"
                            th:value="${garden.isGardenPublic()}"
                            autofocus
                            autocomplete="off"
                            onchange="submitPublic()"
                    />
                    Public Garden
                  </label>
                  <input type="hidden" th:name="gardenId" th:value="${garden.getId()}"/>
                  <button class="form-button" type="submit" th:id="submitPublicGarden" style="display: none;">Submit</button>
                </form>
                <p class="errorMessage" th:text="${gardenDescriptionError}"></p>

                <!-- Garden tags -->
                <div class="display-tags">
                <span th:each="tag, iterStat : ${tags}">
                    <span class="tag-text" th:text="'#' + ${tag.getName()}"></span>
                    <span th:if="${!iterStat.last}">&nbsp;&nbsp;&nbsp;</span>
                </span>
                </div>

                <form th:if="${owner}" th:action="@{${tagFormSubmissionUri}}" method="post" id="tag-form" autocomplete="off">
                  <label class="form-input mt-3" for="tagName"> Create new tag: </label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text"
                           style="
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        ">#</div>
                    </div>
                    <div>
                      <input type="text" class="form-control" placeholder="CoolGarden" id="tagName" th:name="tagName"
                             data-cy="tagName" style="border-radius: 0" autofocus>
                      <div id="autocomplete-list" class="dropdown-menu w-40 shadow inputStyle"></div>
                    </div>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary"
                              id="tag-submit"
                              type="submit"
                              style="
                           border-color: #477641;
                           --bs-btn-color: #477641;
                           --bs-btn-hover-bg: #477641;
                           --bs-btn-hover-color: #fff;
                           --bs-btn-active-bg: #477641;
                           border-top-left-radius: 0;
                           border-bottom-left-radius: 0;
                           "
                      >+
                      </button>
                    </div>
                  </div>
                </form>
                <p class="errorMessage" th:text="${tagErrors}"></p>
                <br>
              </div>
            </div>
          </div>

          <div class="col-auto">
            <div class="row">
              <div class="container">
                <div id="weatherCard">
                  <div th:if="${garden.locationFound}"
                       th:each="data : ${weatherData}" class="d-inline-grid">
                    <div th:insert="~{fragments/locationWeatherCard :: weatherCard}"
                         th:with="dayOfWeek=${data.date.dayOfWeek},
                           date=${data.date.format(dateFormatter)},
                           temperature=${data.temperature},
                           description=${data.weatherDescription},
                           image=${data.weatherIconName},
                           humidity=${data.humidity}">
                    </div>
                  </div>
                  <div th:unless="${garden.locationFound}" class="alert alert-warning">
                    Location not found, please update your location to see the weather
                  </div>
                </div>
              </div>
            </div>
            <div th:if="${garden.locationFound}"
                 class="card h-auto w-100 text-center mt-3 align-items-center rounded-4">
              <p class="mt-2" style="font-weight: bold"><i th:text="${advice}"></i></p>
                <div class="h-auto mt-3 rounded-4 d-flex flex-column">
                    <div th:if="${popupClosed} != 'true'"
                         class="alert w-100 alert-success"
                         id="advice-message"
                         style="
                   --bs-alert-bg: #d0dfd0;
                   --bs-alert-border-color: #477641"
                         role="alert">
                        <div class="w-100 d-flex justify-content-end">
                            <button class="btn btn-sm me-2"
                                    type="button"
                                    style="
                    --bs-btn-color: #6F0C0C;
                    --bs-btn-hover-color: #ec7676;
                    --bs-btn-active-border-color: transparent;
                    --bs-btn-active-color: #6F0C0C;"
                                    onclick="setRainPopupCookie()">Close
                                <i class="bi bi-x"></i>
                            </button>
                        </div>
                        <p class="mt-2 d-flex justify-content-center" style="font-weight: bold; padding-bottom: 1rem">
                            <i th:text="${advice}"></i>
                        </p>
                    </div>
            </div>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="container">
            <div class="row">
              <div class="col-auto">
                <h2>My Plants</h2>
              </div>
              <div class="col-auto">
                <a th:href="@{${newPlantUri}}">
                  <button th:if="${owner}"
                          class="btn btn-outline-primary"
                          type="button"
                          style="
                    border-color: #477641;
                    --bs-btn-color: #477641;
                    --bs-btn-hover-bg: #477641;
                    --bs-btn-hover-color: #fff;
                    --bs-btn-active-bg: #477641;
                  "
                  ><i class="bi bi-plus-lg"></i> Add Plant
                  </button>
                </a>
              </div>
            </div>
            <br>

            <div class="row-auto">
              <div id="plantCard" class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-4 overflow-y-auto"
                   style="max-height: 100vh">
                <div th:each="plant : ${plants}" class="col">
                  <div class="card shadow rounded-4 h-100 w-100">
                    <div class="card-img-top position-relative rounded-top-4">
                      <div class="bg-image rounded-top-4"
                           th:style="'background-image: url(' + ${plant.getImageFilePath()} + '); height: 30vh; background-size: cover; background-position: center;'">
                      </div>
                      <form th:action="@{${uploadPlantImageUriString}(gardenId=${garden.getId()},plantId=${plant.getId()})}"
                            method="post" enctype="multipart/form-data">
                        <input type="hidden" th:name="plantId" th:value="${plant.getId()}"/>
                        <div class="add-image">
                          <label th:for="${plant.getId()}"
                                 class="btn btn-light rounded-circle position-absolute top-0 end-0 m-2 opacity-50">
                            <i class="bi bi-plus-circle"></i>
                          </label>
                          <input type="file"
                                 class="form-control"
                                 th:id="${plant.getId()}"
                                 th:name="plantImage"
                                 accept="image/jpeg, image/png, image/svg+xml"
                                 data-cy="plantImage"
                                 onchange="submitForm(id)"
                                 style="display: none;"
                          >
                        </div>
                        <button class="form-button" type="submit" th:id="${plant.getId()} + submit"
                                style="display: none;">Submit
                        </button>
                      </form>
                    </div>

                    <div class="card-body">
                      <div class="alert alert-danger" role="alert"
                           th:if="${(plant.getId() == selectedPlantId) and
                          ((imageTypeError != null and !imageTypeError.isEmpty()) or
                          (imageSizeError != null and !imageSizeError.isEmpty()) or
                          (plantImageUploadError != null and !plantImageUploadError.isEmpty()))}">
                        <h5 th:if="${imageTypeError != null and !imageTypeError.isEmpty()}" th:text="${imageTypeError}"></h5>
                        <h5 th:if="${imageSizeError != null and !imageSizeError.isEmpty()}" th:text="${imageSizeError}"></h5>
                        <h5 th:if="${plantImageUploadError != null and !plantImageUploadError.isEmpty()}"
                            th:text="${plantImageUploadError}"></h5>
                      </div>
                      <div th:insert="~{fragments/plantCard :: plantCard}"
                           th:with="plantName=${plant.getName()},
                           plantDescription=${plant.getDescription()},
                           plantCount=${plant.getCount()},
                           plantDate=${plant.getDateString()}">
                      </div>
                    </div>
                    <div class="card-footer">
                      <a th:if="${owner}" th:href="@{${editPlantUriString}(gardenId = ${garden.getId()}, plantId = ${plant.getId()})}">
                        <button class="btn btn-outline-primary w-100"
                                type="button"
                                style="
                              border-color: #000;
                              --bs-btn-color: #000;
                              --bs-btn-hover-bg: #000;
                              --bs-btn-hover-color: #fff;
                              --bs-btn-active-bg: #000;
                            "
                        >Edit Plant <i class="bi bi-pencil"></i>
                        </button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
<script>
  function submitForm(id) {
    console.log("Image Uploaded on form: " + id);

    // Currently clicks the first form only as getting by id.
    document.getElementById(id + 'submit').click()
  }

  function submitPublic() {
      const checkbox = document.getElementById("publicGarden");
      if (checkbox.checked) {
            checkbox.value = "true";
        } else {
            checkbox.value = "false";
        }
        document.getElementById("submitPublicGarden").click()
    }
</script>
<script type="text/javascript" th:src="@{/javascript/tagAutocomplete.js}"></script>
<script type="text/javascript" th:src="@{/javascript/cookies.js}"></script>
</html>
